.container-header{
    width: 100%;
    height: 400px;
    background-color: aqua;
}

.container-section-promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    justify-content: center;
    background-color: red;
}

.item-section-promo {
    width: 30%;
    height: 100px;
    background-color: green;
}

.container-imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.container-imagen img{
    width: 90%;
    margin: 20px auto;
}

.container-imagen h2{
    color:white;
    font-size: 30px;
    margin: 0;
}